{% extends "base.html" %}
{% block title %}Home{% endblock %}    

{% block content %}

<h1>This is the home page :D</h1>       <!--This will only show up for home page (this Jinja templating is very usefuljj)-->
<br/>

<!--The form and div below are where the user inputs the youtube link to choose what they would like to watch
An iframe is used to display the video to the user
The form is used for the video link-->
<h1>Watch Youtube Video</h1>
<form method ="POST">
    <input type="text" name="video_url" placeholder="Enter Youtube Video URL" required>
    <button type = "submit">Watch This</button>
</form>
<div>
    {% if video_id %}

    <iframe width ="560" height="315" src="https://www.youtube.com/embed/{{ video_id }}" framborder="0" allowfullscreen></iframe>
    {% endif %}
</div>
{% endblock %}



